.modal-container{
    display: flex;
}
.modal-baner{
    background: url(../images/Modalbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.modal-tittle{
    width: 90%;
    margin: 0 auto;
    background-color: white ;
    margin-top: 20px;
    text-align: center;
   
}
.modal-tittle h1{
    color: rgb(41, 39, 39);
    font-size: clamp(25px, 7vw, 52px);
}

.modal-lg{
    width: 80%;
}

.modal-title {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    opacity: 1;
    font-size: clamp(25px, 7vw, 52px);
    text-align: center;
}
@media screen  and (max-width: 1000px)
 {
    .modal-baner{
        display: none;
    }
}

