.Footer{
    background-color:#414342 ;
    padding: 30px 0px;
}

.footer_flex{
    display: flex;
}

.footer_nav{
    width: 72.368%;
}

.container_line{
    width: 90%;
border: 1px solid #B7B7B7;
height: 2px;
margin-left: 15px;

}
.row{
    margin-bottom: 0px;
}

.footer_navlinks{
    margin-bottom: 36px;
}

.footer_contacts{
    
display: flex;
gap:50px;
margin-left: 15px;
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
color: #FFFFFF;
}
.footer_contacts img{
    margin-right:15px ;
}
.footer_logo{
    width:19.736% ;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}
.footer_logo img{
    margin-bottom: 13px;
    width: 100%;
}
.fmob{
display: none;
}

.contacts_flex{
    display: flex;
    gap: 50px;
}


.mobile_foter{
    display:none;
}
@media screen and (max-width: 995px) {
    .contacts_flex{
        display: block;
        gap: 50px;
        
    }
   .adress{
       margin-bottom: 30px;
   }

    
    .container_line{
        width: 97%;
    }
  .row>* {
    width: 100%;
    }
  
   
    .footer_nav{
        width: 100%;
    }
    
   
    .footer_logo{
        width:19.736% ;
     
    }
   
    .fdesktop{
    display: none;
    }
   
    .fmob{
    display: block;
    }
  }
  @media screen and (max-width: 775px) {

    .mobile_foter{
        display:block;
    }
.fmob{
    display: none;
    }
    .justify-content-start{
        flex-direction: column;
    }
    .container_line{
        display: none;
    }
    .footer_contacts{
        flex-direction: column;
    }
    .footer_nav{
        width: 50%;
    }
    .footer_logo {
        width: 50%;
    }
    .Footer{
    
        padding: 80px 0px 30px 0px;
    }
  }